<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>项目管理</title>

<link rel="stylesheet" href="../static/css/ProjectManagement_Reader.css">

   <link rel="stylesheet" href="../static/bootstrap-3.3.5/css/bootstrap.min.css">
   <script src="../static/js/jquery.min.js"></script>
   <script src="../static/bootstrap-3.3.5/js/bootstrap.min.js"></script>

</head>








<body>

    <div id="container">
    
               <form action="ProjectManagement02.html" method="post" enctype="multipart/form-data">
               <div id="btn"> <div id="btn01"><input class="button1" type="submit"    value="    " ></div> </div></form>
               
               <div id="reader"><iframe src="../static/pdf/基于DOM模型扩展的Web信息提取_顾韵华2.pdf" width="1100px" height="710px" scrolling="no" frameborder="0"> </iframe></div>
    
          
               
    
         
          
          
    </div>
	

</body>
</html>


