<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>老师评分</title>

<link rel="stylesheet" href="../static/css/TeacherMarking_Reader.css">

   <link rel="stylesheet" href="../static/bootstrap-3.3.5/css/bootstrap.min.css">
   <script src="../static/js/jquery.min.js"></script>
   <script src="../static/bootstrap-3.3.5/js/bootstrap.min.js"></script>

</head>





<body>

    <div id="container">
               <form action="" method="post">
               <div id="btn"> <div id="btn01"><input class="button1" type="submit" name="back"   value="        " ></div></div>
               </form>
               <div id="reader"><iframe src="{{ filename }}" width="1000px" height="710px" scrolling="no" frameborder="0"> </iframe></div>
    
          
               
    
         
          
          
    </div>
	

</body>
</html>


